<title><%= full_title(yield(:title)) %></title>
<div class="center jumbotron">
  <h1>Aus Cyber security forum</h1>

  <h2>
    Sign in and start a thread.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


